@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

/***

TONE MAU SU DUNG

XANH : BBF100
TIM : 4F31A8

***/


.main-game-play {
    background-color: #2d2d2d;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.game-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.game-center > h1 {
    font-family: "Iceberg", sans-serif;
    color: #ffffff;
}

.game-play {
    background-color: #2d2d2d;
    height: 70%;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    border: #2d2d2d solid 5px;
    outline: #BBF100 solid 5px;
    border-radius: 20px;
}

.panel-btn-function {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.panel-btn-function > button {
    background-color: #ffffff;
    border-radius: 100px;
    padding: 10px 20px;
    font-family: "Iceberg", sans-serif;
    font-size: 2rem;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.panel-btn-function > button:hover {
    background-color: #BBF100;
    box-shadow: inset 0px 0px 10px #000000;
    outline: #BBF100 solid 5px;
}

.panel-btn-function > button:active {
    background-color: #BBF100;
    box-shadow: inset 0px 0px 20px #000000;
    transform: scale(0.95);
}

.game-play > button {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
}

.img-icon-asset {
    width: 80%;
    aspect-ratio: 1 / 1;
    filter: contrast(1.4);
}

.score-board {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 2;
}

.score-board > img {
    width: 60%;
    filter: contrast(1.4) drop-shadow(0px 10px 20px #000000);
}

.score-board > h1 {
    font-family: "Iceberg", sans-serif;
    color: #ffffff;
    font-size: 5rem;
}

.win-message {
    position: absolute;
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #2d2d2d;
    border: #ffffff solid 3px;
    outline: #2d2d2d solid 5px;
    z-index: 3;
}

.win-message > img {
    width: 50%;
}

.win-message > h2 {
    width: 50%;
    font-family: "Iceberg", sans-serif;
    color: #ffffff;
    font-size: 5rem;
    text-align: center;
}

.win-message > button {
    background-color: #ffffff;
    border-radius: 100px;
    padding: 10px 20px;
    font-family: "Iceberg", sans-serif;
    font-size: 2rem;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.win-message > button:hover {
    background-color: #BBF100;
    box-shadow: inset 0px 0px 10px #000000;
    outline: #BBF100 solid 3px;
}

.win-message > button:active {
    background-color: #BBF100;
    box-shadow: inset 0px 0px 20px #000000;
    transform: scale(0.95);
}


@keyframes turnAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.effect-turn-X {
    position: absolute;
    background: linear-gradient(to right, #4F31A8, #2d2d2d);
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    animation: turnAnimation 0.2s ease-in-out forwards;
}

.effect-turn-O {
    position: absolute;
    background: linear-gradient(to left, #BBF100, #2d2d2d);
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    animation: turnAnimation 0.2s ease-in-out forwards;
}